[Unit]
Description=Rustdesk Relay Server

[Service]
Type=simple
User=__APP__
Group=__APP__
LimitNOFILE=1000000
ExecStart=__INSTALL_DIR__/hbbr
WorkingDirectory=__INSTALL_DIR__/
Restart=always
StandardOutput=append:rustdesk-server/hbbr.log
StandardError=append:rustdesk-server/hbbr.error
# Restart service after 10 seconds if node service crashes
RestartSec=10

[Install]
WantedBy=multi-user.target