[Unit]
Description=Rustdesk Relay Server

[Service]
Type=simple
User=__APP__
Group=__APP__
Restart=always
LimitNOFILE=1000000
ExecStart=__INSTALL_DIR__/hbbr -p __PORT_HBBR__
WorkingDirectory=__INSTALL_DIR__/
StandardOutput=append:/var/log/__APP__/hbbr.log
StandardError=append:/var/log/__APP__/hbbr.error
RestartSec=10

[Install]
WantedBy=multi-user.target