[Unit]
Description=Rustdesk Relay Server

[Service]
Type=simple
User=__APP__
Group=__APP__
LimitNOFILE=1000000
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/hbbr
Restart=always
StandardOutput=append:/var/log/rustdesk/relayserver.log
StandardError=append:/var/log/rustdesk/relayserver.error
RestartSec=10

[Install]
WantedBy=multi-user.target
